@import '../../../assets/mixins.scss';

:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

.shell {
  &__navigation {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-monoA-A200);
    justify-content: flex-end;

    &__button {
      @include button-style(); 
      @include text-body100();
      color: var(--color-monoB-A900);
      background-color: var(--color-primary-A700);
  
      &:hover {
        background-color: var(--color-warn-A700);
      }
  
      &:active {
        background-color: var(--color-primary-A800);
      }
    }
  }
}