<div class="chat__container">
  <div class="chat__messages-container" #messagesContainer>
    @for (message of messagesS(); track $index) {
      @let user = currentUser();
      <div
        class="chat__message"
        [ngStyle]="{
          'align-self':
            user?.username === message.username ? 'flex-end' : 'flex-start',
        }"
      >
        <div
          class="chat__message__username"
          [ngClass]="{
            chat__message__username_interactive:
              user?.username !== message.username,
          }"
          (click)="onUsernameClick(message.userId)"
          (keydown.enter)="onUsernameClick(message.userId)"
          [tabindex]="user?.username === message.username ? '-1' : '0'"
        >
          <span
            class="chat__message__indicator"
            [ngStyle]="{ 'background-color': message.color }"
          ></span>
          <span>{{ message.username }}</span>
        </div>
        <div class="chat__message__text">{{ message.text }}</div>
      </div>
    }
  </div>
  <span class="chat__line"></span>
  <div class="chat__input-container">
    <textarea
      class="chat__input"
      name="messageInput"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      placeholder="Enter message..."
    >
    </textarea>
    <button
      class="chat__button"
      [disabled]="!newMessage.length"
      (click)="sendMessage()"
    >
      Send
    </button>
  </div>
</div>
