<div class="chat__container">
  <div class="chat__messages-container" #messagesContainer>
    @for (message of messagesS(); track $index) {
      <div class="chat__message" [ngStyle]="{
        'align-self': currentUser()?.username === message.username ? 'flex-end' : 'flex-start'
        }">
        <div class="chat__message__username" (click)="onUsernameClick(message.userId)">
          <span class="chat__message__indicator" [ngStyle]="{'background-color': message.color}"></span>
          <span>{{message.username}}</span>
        </div>
        <div class="chat__message__text">{{message.message}}</div>
      </div>
    }
  </div>
  <div class="chat__input-container">
    <textarea class="chat__input" name="messageInput" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Enter message...">
    </textarea>
    <button class="chat__button" [disabled]="!newMessage.length" (click)="sendMessage()">Send</button>
  </div>
</div>
