@mixin button-style() {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: var(--color-monoA-A200);
    pointer-events: none;
  }
}

@mixin text-caption {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: var(--color-monoA-A600);
}

@mixin text-body100 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--color-monoA-A900);
}

@mixin text-body200 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: var(--color-monoA-A900);
}

@mixin text-header {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: var(--color-monoA-A900);
}

@mixin text-subheader {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: var(--color-monoA-A800);
}
