@import '../../../assets/mixins.scss';

:host {
  width: 100%;
}

.items-line {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__button {
    @include button-style(); 
    @include text-body100();
    color: var(--color-monoB-A900);
    background-color: var(--color-primary-A700);

    &:hover {
      background-color: var(--color-primary-A600);
    }

    &:active {
      background-color: var(--color-primary-A800);
    }
  }
}